In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv("books.csv")
users = pd.read_csv("users.csv")
ratings = pd.read_csv("ratings.csv")

H:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [7]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [8]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
books.duplicated().sum()

0

In [12]:
ratings.duplicated().sum()

0

In [13]:
users.duplicated().sum()

0

## Most-Loved Books

In [14]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [15]:
ratings.merge(books,on="ISBN").shape

(1031136, 10)

In [16]:
ratings_with_name = ratings.merge(books,on="ISBN")

In [17]:
num_rating_df = ratings_with_name.groupby("Book-Title").count()["Book-Rating"].reset_index()

In [18]:
num_rating_df.rename(columns={"Book-Rating":"num_ratings"},inplace = True)

In [19]:
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [20]:
avg_rating_df = ratings_with_name.groupby("Book-Title").mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={"Book-Rating":"avg_rating"},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [21]:
popular_df = num_rating_df.merge(avg_rating_df,on="Book-Title")
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [22]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [23]:
popular_df = popular_df.merge(books,on="Book-Title").drop_duplicates("Book-Title")[["Book-Title","Book-Author","Image-URL-M","num_ratings","avg_rating"]]

In [24]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

## Collaborative Filtering

In [25]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [26]:
x = ratings_with_name.groupby("User-ID").count()['Book-Rating'] > 200
literate = x[x].index

In [27]:
filtered_rating = ratings_with_name[ratings_with_name["User-ID"].isin(literate)]

In [28]:
y = filtered_rating.groupby("Book-Title").count()["Book-Rating"] >= 50
famous_books = y[y].index

In [29]:
final_ratings = filtered_rating[filtered_rating["Book-Title"].isin(famous_books)]

In [30]:
final_ratings.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [31]:
pt = final_ratings.pivot_table(index="Book-Title",columns="User-ID",values="Book-Rating")

In [32]:
pt.fillna(0,inplace=True)

In [33]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity_scores = cosine_similarity(pt)

In [36]:
similarity_scores.shape

(706, 706)

In [37]:
def recommend(book_name):
    #index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]
    #distances = similarity_scores(index)
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates("Book-Title")['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates("Book-Title")['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates("Book-Title")['Image-URL-M'].values))
        
        data.append(item)
    return data

In [38]:
recommend("Harry Potter and the Chamber of Secrets (Book 2)")

[['Harry Potter and the Prisoner of Azkaban (Book 3)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Goblet of Fire (Book 4)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'],
 ["Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
  'J. K. Rowling',
  'http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg'],
 ["Harry Potter and the Sorcerer's Stone (Book 1)",
  'J. K. Rowling',
  'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg'],
 ['Harry Potter and the Order of the Phoenix (Book 5)',
  'J. K. Rowling',
  'http://images.amazon.com/images/P/043935806X.01.MZZZZZZZ.jpg']]

In [39]:
# import joblib
# with open('popular.gz','wb') as pdf:
#     joblib.dump(popular_df,pdf)

In [40]:
# with open('pt.gz','wb') as ptw:
#     joblib.dump(pt,ptw)
# with open('books.gz','wb') as bwb:
#     joblib.dump(books,bwb)
# with open("similarity_scores.gz",'wb') as sims:
#     joblib.dump(similarity_scores,sims)

In [41]:
import pickle
print(pickle.format_version)

4.0

In [42]:
from flask import Flask,render_template,request
import numpy as np
# user_input = request.form.get("user-input")
user_input = "Animal Farm"
index = np.where(pt.index==user_input)[0][0]
index

47

In [43]:
from flask import Flask,render_template,request
import numpy as np

import joblib


app = Flask(__name__)


@app.route("/")

def index():
    return render_template("index.html",
                            book_name = list(popular_df['Book-Title'].values),                         
                            author = list(popular_df['Book-Author'].values),                         
                            image = list(popular_df['Image-URL-M'].values),                         
                            votes = list(popular_df['num_ratings'].values),                         
                            rating = list(popular_df['avg_rating'].values),                         

                           )

@app.route("/similar")
def similar_ui():
    return render_template("similar.html")

@app.route("/similar_books",methods=['post'])
def sim_books():
    user_input = request.form.get(str("user-input"))
#     user_input = "Animal Farm"
    print("Getting this as input")
    print(user_input)
    index = np.where(pt.index==user_input)[0][0]
#     print(index)
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]
#     print("rishabh prinyinh ")
#     print(similar_items)
#     print("AgainPrinting")
   # distances = similarity_scores(index)
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates("Book-Title")['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates("Book-Title")['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates("Book-Title")['Image-URL-M'].values))
        data.append(item)
        print(data)
                
    return render_template("similar.html",data=data)

from threading import Thread

Thread(target=app.run).start()

# if __name__ == "__main__":
#     app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Dec/2023 14:39:28] "GET /similar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:39:29] "GET /style.css HTTP/1.1" 404 -

Getting this as input
1984
[['Animal Farm', 'George Orwell', 'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg']]
[['Animal Farm', 'George Orwell', 'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'], ["The Handmaid's Tale", 'Margaret Atwood', 'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:39:38] "POST /similar_books HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:39:38] "GET /style.css HTTP/1.1" 404 -

[['Animal Farm', 'George Orwell', 'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'], ["The Handmaid's Tale", 'Margaret Atwood', 'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'], ['Brave New World', 'Aldous Huxley', 'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg']]
[['Animal Farm', 'George Orwell', 'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'], ["The Handmaid's Tale", 'Margaret Atwood', 'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'], ['Brave New World', 'Aldous Huxley', 'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'], ['The Vampire Lestat (Vampire Chronicles, Book II)', 'ANNE RICE', 'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]
[['Animal Farm', 'George Orwell', 'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'], ["The Handmaid's Tale", 'Margaret Atwood', 'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'], ['Brave New World', 'Aldous Huxley', 'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'], ['The Vampire Lestat (Vampire Chronicles, Book II)', 'ANNE RICE', 'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'], ['The Hours : A Novel', 'Michael Cunningham', 'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg']]
Getting this as input
Brave New World
[['1984', 'George Orwell', 'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg']]
[['1984', 'George Orwell', 'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'], ['How to Be Good', 'Nick Hornby', 'http://images.amazon.com/images/P/1573229326.01.MZZZZZZZ.jpg']]
[['1984', 'George Orwell', 'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'], ['How to Be Good', 'Nick Hornby', 'http://images.amazon.com/images/P/1573229326.01.MZZZZZZZ.jpg'], ['Naked', 'David Sedaris', 'http://images.amazon.com/images/P/0316777730.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:40:49] "POST /similar_books HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:40:49] "GET /style.css HTTP/1.1" 404 -

[['1984', 'George Orwell', 'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'], ['How to Be Good', 'Nick Hornby', 'http://images.amazon.com/images/P/1573229326.01.MZZZZZZZ.jpg'], ['Naked', 'David Sedaris', 'http://images.amazon.com/images/P/0316777730.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg']]
[['1984', 'George Orwell', 'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'], ['How to Be Good', 'Nick Hornby', 'http://images.amazon.com/images/P/1573229326.01.MZZZZZZZ.jpg'], ['Naked', 'David Sedaris', 'http://images.amazon.com/images/P/0316777730.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Love in the Time of Cholera (Penguin Great Books of the 20th Century)', 'Gabriel Garcia Marquez', 'http://images.amazon.com/images/P/0140119906.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:41:56] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:41:56] "GET /style.css HTTP/1.1" 404 -
127.0.0.1 - - [09/Dec/2023 14:42:02] "GET /similar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:02] "GET /style.css HTTP/1.1" 404 -
127.0.0.1 - - [09/Dec/2023 14:42:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:03] "GET /style.css HTTP/1.1" 404 -
127.0.0.1 - - [09/Dec/2023 14:42:10] "GET /similar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:10] "GET /style.css HTTP/1.1" 404 -

Getting this as input
Harry Potter and the Order of the Phoenix (Book 5)
[['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg']]
[['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'], ['Harry Potter and the Prisoner of Azkaban (Book 3)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg']]
[['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'], ['Harry Potter and the Prisoner of Azkaban (Book 3)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'], ['Harry Potter and the Chamber of Secrets (Book 2)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:42:14] "POST /similar_books HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:14] "GET /style.css HTTP/1.1" 404 -

[['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'], ['Harry Potter and the Prisoner of Azkaban (Book 3)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'], ['Harry Potter and the Chamber of Secrets (Book 2)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg'], ["Harry Potter and the Sorcerer's Stone (Book 1)", 'J. K. Rowling', 'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg']]
[['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'], ['Harry Potter and the Prisoner of Azkaban (Book 3)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'], ['Harry Potter and the Chamber of Secrets (Book 2)', 'J. K. Rowling', 'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg'], ["Harry Potter and the Sorcerer's Stone (Book 1)", 'J. K. Rowling', 'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg'], ["Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))", 'J. K. Rowling', 'http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:42:21] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:21] "GET /style.css HTTP/1.1" 404 -
127.0.0.1 - - [09/Dec/2023 14:42:31] "GET /similar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:31] "GET /style.css HTTP/1.1" 404 -

Getting this as input
To Kill a Mockingbird
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg']]
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg']]
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Drowning Ruth', 'Christina Schwarz', 'http://images.amazon.com/images/P/0385502532.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:42:34] "POST /similar_books HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:35] "GET /style.css HTTP/1.1" 404 -

[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Drowning Ruth', 'Christina Schwarz', 'http://images.amazon.com/images/P/0385502532.01.MZZZZZZZ.jpg'], ['The Bean Trees', 'Barbara Kingsolver', 'http://images.amazon.com/images/P/0060915544.01.MZZZZZZZ.jpg']]
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Drowning Ruth', 'Christina Schwarz', 'http://images.amazon.com/images/P/0385502532.01.MZZZZZZZ.jpg'], ['The Bean Trees', 'Barbara Kingsolver', 'http://images.amazon.com/images/P/0060915544.01.MZZZZZZZ.jpg'], ["The Color of Water: A Black Man's Tribute to His White Mother", 'James McBride', 'http://images.amazon.com/images/P/1573225789.01.MZZZZZZZ.jpg']]
Getting this as input
To Kill a Mockingbird
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg']]
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg']]
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Drowning Ruth', 'Christina Schwarz', 'http://images.amazon.com/images/P/0385502532.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:42:47] "POST /similar_books HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:42:47] "GET /style.css HTTP/1.1" 404 -

[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Drowning Ruth', 'Christina Schwarz', 'http://images.amazon.com/images/P/0385502532.01.MZZZZZZZ.jpg'], ['The Bean Trees', 'Barbara Kingsolver', 'http://images.amazon.com/images/P/0060915544.01.MZZZZZZZ.jpg']]
[['The Catcher in the Rye', 'J.D. Salinger', 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg'], ['Five Quarters of the Orange', 'Joanne Harris', 'http://images.amazon.com/images/P/0060958022.01.MZZZZZZZ.jpg'], ['Drowning Ruth', 'Christina Schwarz', 'http://images.amazon.com/images/P/0385502532.01.MZZZZZZZ.jpg'], ['The Bean Trees', 'Barbara Kingsolver', 'http://images.amazon.com/images/P/0060915544.01.MZZZZZZZ.jpg'], ["The Color of Water: A Black Man's Tribute to His White Mother", 'James McBride', 'http://images.amazon.com/images/P/1573225789.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:43:16] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:43:16] "GET /style.css HTTP/1.1" 404 -
127.0.0.1 - - [09/Dec/2023 14:43:48] "GET /similar HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:43:49] "GET /style.css HTTP/1.1" 404 -

Getting this as input
Neverwhere
[['It Was on Fire When I Lay Down on It', 'Robert Fulghum', 'http://images.amazon.com/images/P/0394580567.01.MZZZZZZZ.jpg']]
[['It Was on Fire When I Lay Down on It', 'Robert Fulghum', 'http://images.amazon.com/images/P/0394580567.01.MZZZZZZZ.jpg'], ['Wizard and Glass (The Dark Tower, Book 4)', 'Stephen King', 'http://images.amazon.com/images/P/0451194861.01.MZZZZZZZ.jpg']]
[['It Was on Fire When I Lay Down on It', 'Robert Fulghum', 'http://images.amazon.com/images/P/0394580567.01.MZZZZZZZ.jpg'], ['Wizard and Glass (The Dark Tower, Book 4)', 'Stephen King', 'http://images.amazon.com/images/P/0451194861.01.MZZZZZZZ.jpg'], ["Fortune's Rocks : A Novel", 'Anita Shreve', 'http://images.amazon.com/images/P/0316678104.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:43:51] "POST /similar_books HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:43:51] "GET /style.css HTTP/1.1" 404 -

[['It Was on Fire When I Lay Down on It', 'Robert Fulghum', 'http://images.amazon.com/images/P/0394580567.01.MZZZZZZZ.jpg'], ['Wizard and Glass (The Dark Tower, Book 4)', 'Stephen King', 'http://images.amazon.com/images/P/0451194861.01.MZZZZZZZ.jpg'], ["Fortune's Rocks : A Novel", 'Anita Shreve', 'http://images.amazon.com/images/P/0316678104.01.MZZZZZZZ.jpg'], ["Foucault's Pendulum", 'Umberto Eco', 'http://images.amazon.com/images/P/0345368754.01.MZZZZZZZ.jpg']]
[['It Was on Fire When I Lay Down on It', 'Robert Fulghum', 'http://images.amazon.com/images/P/0394580567.01.MZZZZZZZ.jpg'], ['Wizard and Glass (The Dark Tower, Book 4)', 'Stephen King', 'http://images.amazon.com/images/P/0451194861.01.MZZZZZZZ.jpg'], ["Fortune's Rocks : A Novel", 'Anita Shreve', 'http://images.amazon.com/images/P/0316678104.01.MZZZZZZZ.jpg'], ["Foucault's Pendulum", 'Umberto Eco', 'http://images.amazon.com/images/P/0345368754.01.MZZZZZZZ.jpg'], ['False Memory', 'Dean R. Koontz', 'http://images.amazon.com/images/P/0553580221.01.MZZZZZZZ.jpg']]

127.0.0.1 - - [09/Dec/2023 14:44:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [09/Dec/2023 14:44:03] "GET /style.css HTTP/1.1" 404 -